.product-amount {
    padding-top: 20px;
}

.amount-lable {
    margin: auto 5px;
    font-size: 14px;
}

.priceSlider {
    margin-left: 20px;
    margin-top: 10px;
}

.productPageMainDiv {
    display: flex;
    position: absolute;
    gap: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.productPageInfoDiv {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productTitle {
    flex: none;
    font-size: 34px;
    font-weight: 500;
}

.priceRatingDiv{
    display: flex;
    align-items: center;
    gap: 5px;
}

.priceSpan{
    font-size: 30px;
    font-weight: 700;
}

.descriptionDiv{
    display: flex;
    flex-direction: column;
}