.product-amount {
    padding-top: 20px;
}

.amount-lable {
    margin: auto 5px;
    font-size: 14px;
}

.priceSlider {
    margin-left: 20px;
    margin-top: 10px;
}

.productPageMainDiv {
    display: flex;
    position: absolute;
    gap: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.productPageInfoDiv {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productTitle {
    flex: none;
    font-size: 34px;
    font-weight: 500;
}

.priceRatingDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.priceSpan {
    font-size: 30px;
    font-weight: 700;
}

.descriptionDiv {
    display: flex;
    flex-direction: column;
}

.cartItemTitle {
    display: block;
    width: 220px;
}

.cart {
    display: block;
    flex: 1;
    width: 400px;
    overflow-y: auto;

}

.cartHeader {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.cartFooter {
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F2F2;
    margin-top: auto;
    height: 100px;
    gap: 10px;
}

.totalPrice {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.chechOutBtn {
    display: flex;
    justify-content: center;
}

.cartBtnDiv {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.drawerContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.actionsCell {
    display: flex;
}

.adminPageDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adminHeadDiv{
    margin-top: 20px;
    display: flex;
}